.divs
{
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: center;
}
.bdiv
{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
h3
{
    text-align: center;
    position: sticky;
    opacity: 80%;
    text-decoration: underline;
}
button
{
    color: blueviolet;
    background-color: black;
    border-radius: 5px;
    border: 2px;
    font-family: 'Trebuchet MS';
    font-size: medium;
    height: 25PX;
    width: 70px;
}